
        <div class="profile-pic">
          <div class="pic-bg"><img src="/images/james-flight.png" class="img-responsive" alt=""/></div>
        </div>
        <nav>
        <ul class="navigation">
          <li><a href="#">Profile <i class="fa fa-user"></i></a></li>
          <li><a href="#">Work <i class="fa fa-briefcase"></i></a></li>
          <li><a href="#">Resume <i class="fa fa-file-text"></i></a></li>
          <li><a href="#">Blog <i class="fa fa-comment"></i></a></li>
          <li><a href="#">Contact <i class="fa fa-envelope"></i></a></li>
        </ul>
        </nav>
      </div>
